                    <ul class="nav" id="side-menu">
						<volist name="menu_list" id="vo">
							<php>

								$voUrl = $vo['action'] == '' ? '#' : U($vo['module'] . '/' . $vo['controller'] . '/' . $vo['action']);

								$voActive = strtoupper(CONTROLLER_NAME) == strtoupper($vo['controller']) && strtoupper(ACTION_NAME) == strtoupper($vo['action']) ? 'active' : '';
							</php>
                        <li>
							<if condition="$vo['son']">
							<a href="{$voUrl}" class="{$voActivite}"><i class="{$vo.icon}"></i> {$vo.func_name}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
								  <volist name="vo['son']" id="voSecond">
									  <php>

										  $voSecondUrl = $voSecond['action'] == '' ? '#' : U($voSecond['module'] . '/' . $voSecond['controller'] . '/' . $voSecond['action']);

										  $voSecondActive = strtoupper(CONTROLLER_NAME) == strtoupper($voSecond['controller']) && strtoupper(ACTION_NAME) == strtoupper($voSecond['action']) ? 'active' : '';
									  </php>
									<if condition="$voSecond['son']">
										<a href="{$voSecondUrl}"  class="{$voSecondActive}">{$voSecond.func_name} <span class="fa arrow"></span></a>
										<ul class="nav nav-third-level">
											<volist name="voSecond['son']" id="voThird">
												<php>

													$voThirdUrl = $voThird['action'] == '' ? '#' : U($voThird['module'] . '/' . $voThird['controller'] . '/' . $voThird['action']);

													$voThirdActive = strtoupper(CONTROLLER_NAME) == strtoupper($voThird['controller']) && strtoupper(ACTION_NAME) == strtoupper($voThird['action']) ? 'active' : '';
												</php>
											<li>
												<a href="{$voThirdUrl}"  class="{$voThirdActive}"> {$voThird.func_name}</a>
											</li>
											</volist>
										</ul>
									<else/>
										<a href="{$voSecondUrl}"  class="{$voSecondActive}"> {$voSecond.func_name}</a>
									</if>
								  </volist>
                                </li>
                            </ul>
							<else/>
								<if condition="$vo['last'] neq 0">
							<a href="{$voUrl}" class="{$voActive}"><i class="{$vo.icon}"></i> {$vo.func_name}</a>
								</if>
							</if>
                        </li>
						</volist>
                    </ul>