			<layout name="_layout/base" />

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">玩家资金情况</h3>
						<div class="row">
							<form action="{:U('Admin/User/money')}">
								<if condition="$login_user['user_role'] eq 100110 ">
								<div class="col-md-3">
									<select name="operator_id"  class="form-control">
									<option value="">请选择平台</option>
									<volist name="user_roles" id="vo">
									<option value="{$key}" <eq name="param['operator_id']" value="$key">selected="selected"</eq>>{$vo}</option>
									</volist>
									</select>
								</div>
								</if>
								<div class="col-md-3">
									<select name="order_by"  class="form-control">
										<option value="diposit" <eq name="param['order_by']" value="diposit">selected="selected"</eq>>转入最多</option>
										<option value="bet" <eq name="param['order_by']" value="bet">selected="selected"</eq>>消耗最多</option>
										<option value="win" <eq name="param['order_by']" value="win">selected="selected"</eq>>赢取最多</option>
										<option value="withdraw" <eq name="param['order_by']" value="withdraw">selected="selected"</eq>>提取最多</option>
										<option value="gold" <eq name="param['order_by']" value="gold">selected="selected"</eq>>剩余最多</option>
									</select>
								</div>
								<div class="col-md-3">
									<div class="form-group input-group">
										<input type="text" class="form-control" name="account_id" value="{$param.account_id}" placeholder="输入用户名进行检索..." />
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group input-group">
										<input type="submit" class="btn btn-primary" value="检索"/>
									</div>
								</div>
							</form>
                        </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            记录
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <if condition="$login_user['user_role'] eq 100110 "><th>平台</th></if>
                                            <th>用户名</th>
																						<th>VIP等级</th>
                                            <th>转入</th>
                                            <th>消耗</th>
																						<th>赢取</th>
																						<th>提取</th>
																						<th>剩余</th>
                                        </tr>
                                    </thead>
                                    <tbody>
									<volist name="list" id="vo">
                                        <tr>
                                            <if condition="$login_user['user_role'] eq 100110 "><td>{$vo.user_name}</td></if>
                                            <td>{$vo.account_id}</td>
																						<td>{$vo.vip_level}&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" data-id="{$vo.user_id}" class="set_vip_level">修改</a></td>
                                            <td>{$vo.deposit|default='0.00'}</td>
                                            <td>{$vo.bet|default='0.00'}</td>
																						<td>{$vo.win|default='0.00'}</td>
																						<td>{$vo.withdraw|default='0.00'}</td>
																						<td>{$vo.gold|default='0.00'}</td>
                                        </tr>
									</volist>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
			<div class="row">
                <div class="col-lg-12">
					{$page}
				</div>
			</div>

			<script type="text/tpl" id="setVipLevelTpl">
			vip等级: <select name="vip_level" id="vip_level">
							<option value="1">vip 1</option>
							<option value="2">vip 2</option>
							<option value="3">vip 3</option>
							<option value="4">vip 4</option>
							</select>
			</script>


			<!-- Metis Menu Plugin JavaScript -->
			<script src="__PUBLIC__/bower_components/metisMenu/dist/metisMenu.min.js"></script>

			<!-- DataTables JavaScript -->
			<script src="__PUBLIC__/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
			<script src="__PUBLIC__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

			<!-- Page-Level Demo Scripts - Tables - Use for reference -->
			<script>
			$(document).ready(function() {
				$('#dataTables-example').DataTable({
						responsive: true
				});
				$('.set_vip_level').click(function(){
					var obj = $(this);
					var id = obj.data('id');
					set_vip_level(id);
				});
			});
			function set_vip_level(id) {
				$.ShowConfirm($("#setVipLevelTpl").html(), function(){
					var vip_level = $("#vip_level").val().trim();
					if(vip_level == '' || vip_level == 0){
						$.ShowAlert("请选择vip等级");
						return ;
					}
					$.post("{:U('Admin/User/set_vip_level')}",{"id":id,"vip_level":vip_level},function(res){
						$.ShowAlert(res.msg);
						if(res.status == true) window.location.reload();
					},'json')
				},function(){},260,'设置玩家VIP等级');
			}
			</script>
